@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Merriweather", serif;
}
/* banner-content starts here */

.banner-container{
    max-width: 1320px;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    background-image: linear-gradient(rgb(7, 2, 17),
    rgba(7, 2, 17, 0)), url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    margin-bottom: 120px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    color:rgb(255, 255, 255);
}

.banner-content p{
    color: white ;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

.banner-content h1{
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}

/* banner-content ends here */

/* 65% off section starts here */
.new-year-offer-container{
    max-width: 802.9px;
    min-height: 806px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-year-content h2 , p{
    color:rgb(255, 0, 0);
}

.new-year-content h2 {
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.new-year-content p{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 18px;
}

.new-year-content h3{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 48px;
}

.new-year-image{
    width: 802.9px;
    height: 651px;
}
/* 65% off section ends here */
/* midnight party section starts here */
.midnight-party-container{
    max-width: 1320px;
    min-height: 600px;
    margin: 0 auto;
    background-image:linear-gradient(rgb(7, 2, 17),
    rgba(7, 2, 17, 0)),url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    text-align: left;
    border-radius: 16px;
    margin-bottom: 120px;
    
}

.left-side-midnight-party-content{
    width: 60%;
    height: 600px;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    padding-left: 126px;
}

.left-side-midnight-party-content h2{
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 24px;
    letter-spacing: 11%;
}

.left-side-midnight-party-content p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
    
}

.left-side-midnight-party-content p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    
}

#midnight-button{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding-left: 32px;
}

.right-side-midnight-party-content{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

/* midnight party section ends here */
/* event section starts here */

.event-container{
    max-width: 1320px;
    min-height: 600px;
    margin: 0 auto;
    border-radius: 16px;
    background-image: linear-gradient(rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0));
}

.event-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.event-content h3{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}
.span-content{
    color: red;
}
.btn-primary{
    width: 167px;
    height: 56px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: rgb(255, 0, 0);
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
    margin-top: 44px;
}
/* event section ends here */